<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Node.js/Express website stylized with Tailwind CSS.">
    <link rel="canonical" href="https://adoryvo.github.io/node-website-template/"/>
    <meta name="theme-color" content="#93c5fd">

    <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters/ -->
    <meta property="og:url" content="https://adoryvo.github.io/node-website-template/">
    <meta property="og:title" content="Node.js/Express Website Template">
    <meta property="og:description" content="A Node.js/Express website stylized with Tailwind CSS.">
    <meta property="og:type" content="website">
    <!-- Insert preview image tag: https://ogp.me/ -->

    <!-- Twitter: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@AdoryVo">
    <meta name="twitter:creator" content="@AdoryVo">
    <meta name="twitter:title" content="Static Website Template">
    <meta name="twitter:description" content="A Node.js/Express website stylized with Tailwind CSS.">
    <!-- Insert preview image tag -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles/style.css">

    <title>Website - Home</title>
</head>

<body class="">
<header class="bg-gray-900">
    <!-- Navbar -->
    <nav class="flex container items-center justify-between flex-wrap p-5">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-bold text-xl">Site</span>
        </div>

        <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
            <div class="text-sm sm:flex-grow">
                <a href="#" class="block mt-4 sm:inline-block sm:mt-0 text-blue-200 hover:text-white mr-4">
                    Home
                </a>
                <a href="#" class="block mt-4 sm:inline-block sm:mt-0 text-blue-200 hover:text-white mr-4">
                    Link
                </a>
                <a href="#" class="block mt-4 sm:inline-block sm:mt-0 text-blue-200 hover:text-white">
                    Blog
                </a>
            </div>
            <div>
                <a href="" class="inline-block text-blue-200 hover:text-white mr-2">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="" class="inline-block text-blue-200 hover:text-white mr-4">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white
                border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 md:mt-0">
                    Login
                </a>
            </div>
        </div>
    </nav>
</header>

<main>
    <section class="container py-8">
        <h1 class="text-5xl mb-5">Title of a longer featured blog post</h1>
        <p class="text-xl mb-4">
            Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most
            interesting in this post’s contents.
        </p>
        <a class="text-purple-600 hover:text-purple-700 text-xl" href="">Continue reading...</a>
    </section>

    <section class="py-8 bg-yellow-100 text-">
        <div class="container">
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <table class="table-fixed">
                        <thead>
                        <tr>
                            <th class="w-1/2 text-yellow-600">Title</th>
                            <th class="w-1/4 text-yellow-600">Author</th>
                            <th class="w-1/4 text-yellow-600">Views</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Intro to CSS</td>
                            <td>Adam</td>
                            <td>858</td>
                        </tr>
                        <tr class="bg-yellow-200">
                            <td>A Long and Winding Tour of the History of UI Frameworks and Tools and the Impact on
                                Design
                            </td>
                            <td>Adam</td>
                            <td>112</td>
                        </tr>
                        <tr>
                            <td>Intro to JavaScript</td>
                            <td>Chris</td>
                            <td>1,280</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <p class="text-yellow-600">List title</p>
                    <ul class="list-disc list-inside text-yellow-800">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
                        <li>Assumenda, quia temporibus eveniet a libero incidunt suscipit</li>
                        <li>Quidem, ipsam illum quis sed voluptatum quae eum fugit earum</li>
                    </ul>

                    <details class="mt-4 text-yellow-800">
                        <summary>Some details</summary>
                        <p class="text-yellow-600">More info about the details.</p>
                    </details>
                </div>
            </div>
        </div>
    </section>

    <section class="py-8 bg-indigo-400">
        <div class="container">
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <div class="prose text-blue-200">
                        <h2>Prose Article</h2>
                        <p>
                            Use <code>whitespace-normal</code> to cause text to wrap normally within an element. Newlines
                            and spaces will be collapsed.
                        </p>
                        <figure class="figure">
                            <img src="https://via.placeholder.com/300x200.png" class="rounded"
                                 alt="...">
                            <figcaption class="text-blue-200">A caption for the above image.</figcaption>
                        </figure>
                    </div>
                </div>
                <div>
                    <div class="prose text-blue-200">
                        <h2>Prose Article 2</h2>
                        <p>
                            Use <kbd>npm install</kbd> to download the packages for this project.
                            <br>
                            <samp>This text is meant to be treated as sample output from a computer program.</samp>
                        </p>

                        <figure>
                            <blockquote class="blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer text-blue-200">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<footer class="bg-gray-900">
    <div class="container text-blue-200 py-8">
        <span class="float-right text-purple-400 hover:text-purple-500"><a href="#">Back to top</a></span>
        <address>
            <strong>Twitter, Inc.</strong><br>
            1355 Market St, Suite 900<br>
            San Francisco, CA 94103<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
        <br>
        <address>
            <strong>Full Name</strong><br>
            <a class="text-purple-400 hover:text-purple-500" href="mailto:first.last@example.com">first.last@example.com</a>
        </address>
        <br>
        © 2020 Company, Inc. · <a class="text-purple-400 hover:text-purple-500" href="#">Privacy</a> · <a class="text-purple-400 hover:text-purple-500" href="#">Terms</a>
    </div>
</footer>


<!-- Bundled JS: jQuery,  -->
<script src=scripts/bundle.js></script>

<!-- Custom Scripts -->
</body>
</html>