<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A static website template built on Bootstrap.">
    <link rel="canonical" href="https://adoryvo.github.io/website-template/"/>

    <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters/ -->
    <meta property="og:url" content="https://adoryvo.github.io/website-template/">
    <meta property="og:title" content="Static Website Template">
    <meta property="og:description" content="A static website template built on Bootstrap.">
    <meta property="og:type" content="website">
    <!-- Insert preview image tag: https://ogp.me/ -->

    <!-- Twitter: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@AdoryVo">
    <meta name="twitter:creator" content="@AdoryVo">
    <meta name="twitter:title" content="Static Website Template">
    <meta name="twitter:description" content="A static website template built on Bootstrap.">
    <!-- Insert preview image tag -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles/bootstrap.css">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles/style.css">

    <title>Website - Home</title>
</head>

<body>
<header>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="images/favicon.ico" alt="" width="24" height="24"
                     class="d-inline-block align-top">
                Navbar
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Page Links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>

                <!-- Social Media Links -->
                <ul class="navbar-nav ms-md-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank" rel="noopener">
                            <i class="bi-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank" rel="noopener">
                            <i class="bi-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <!-- Hero Section -->
    <section class="container py-4 py-md-5 mb-4">
        <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">
            Multiple lines of text that form the lede, informing new readers quickly and efficiently
            about what’s most interesting in this post’s contents.
        </p>
        <p class="lead mb-0">
            <a href="#" class="text-primary fw-bold">Continue reading...</a>
        </p>
    </section>

    <!-- Table Section -->
    <section class="bg-warning">
        <div class="container py-4 py-md-5">
            <div class="row">
                <div class="col">
                    <table class="table table-striped table-dark table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>

                    <details>
                        <summary>Some details</summary>
                        <p>More info about the details.</p>
                    </details>
                </div>

                <div class="col">
                    <dl>
                        <dt>Description lists</dt>
                        <dd>A description list is perfect for defining terms.</dd>
                        <dt>Euismod</dt>
                        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem.</dd>
                        <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                        <dt>Malesuada porta</dt>
                        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>

    <!-- Image Section -->
    <section class="bg-primary py-4 py-md-5">
        <div class="container text-light">
            <div class="row">
                <div class="col">
                    <figure class="figure">
                        <img src="https://via.placeholder.com/400x300.png" class="figure-img img-fluid rounded"
                             alt="...">
                        <figcaption class="figure-caption text-light">A caption for the above image.</figcaption>
                    </figure>
                </div>

                <div class="col">
                    <figure>
                        <blockquote class="blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer text-light">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<footer class="bg-dark py-4">
    <div class="container text-light">
        <span class="float-end"><a href="#">Back to top</a></span>
        <address>
            <strong>Twitter, Inc.</strong><br>
            1355 Market St, Suite 900<br>
            San Francisco, CA 94103<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
            <strong>Full Name</strong><br>
            <a href="mailto:first.last@example.com">first.last@example.com</a>
        </address>

        © 2020 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a>
    </div>
</footer>

<!-- Bundled JS: Bootstrap, jQuery -->
<script src="scripts/bundle.js"></script>

<!-- Custom JavaScript -->
<script src="scripts/placeholder.js"></script>
</body>
</html>