@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- GLOBAL STYLES ---------- */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #93c5fd;

    /* Background Pattern */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23bfdbfe' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

td {
    @apply border border-yellow-500 px-4 py-2 text-yellow-600 font-medium
}

dt {

}

/* ---------- HOME ---------- */
#someUniqueElement {

}

.some-reused-element {

}

/* ---------- SOME PAGE ---------- */

/* ---------- MEDIA QUERIES ---------- */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}